/*------------------------------------------------------------*
* CENTER
*------------------------------------------------------------*/

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

/*------------------------------------------------------------*
* COVER
*------------------------------------------------------------*/

.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: 1rem;
}

.cover > * {
  margin-block: 1rem;
}

.cover > :first-child:not(h1) {
  margin-block-start: 0;
}

.cover > :last-child:not(h1) {
  margin-block-end: 0;
}

.cover > h1 {
  margin-block: auto;
}

/*------------------------------------------------------------*
* IMAGES
*------------------------------------------------------------*/

.img-fluid {
  max-width: 100%;
  display: block;
  height: auto;
}

/*------------------------------------------------------------*
* RESPONSIVENESS
*------------------------------------------------------------*/

$desktopMinimum: 992px;
$veryTinyMax: 576px;

@mixin mobile { @media (max-width: $veryTinyMax) { @content; } }
@mixin inbetween { @media (min-width: $veryTinyMax) and (max-width: $desktopMinimum) { @content; } }
@mixin desktop { @media (min-width: $desktopMinimum) { @content; } }